<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminUserDao">
	<select id="userInfo"  resultType="Buser" >
		select * from busertable
	</select>
	<delete id="deleteuserManager"  parameterType="Integer" >
		delete from busertable where id = #{id}
	</delete>
</mapper>