<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminOrderDao">
	<select id="orderInfo"  resultType="map" >
		select ot.id, ot.amount, ot.status,  orderdate, bt.bemail, ot.busertable_id 
		from ORDERBASETABLE ot, BUSERTABLE bt where ot.busertable_id=bt.id
	</select>
	<delete id="deleteOrderDetail" parameterType="Integer">
		delete from orderdetail where orderbasetable_id=#{id}
	</delete>
	<delete id="deleteOrderBase" parameterType="Integer">
		delete from orderbasetable where id=#{id}
	</delete>
</mapper>